body {
	background-image: url("/resources/images/sakura.png");
	background-repeat: repeat;
}
div.layer {
	background-color: #f8f8f8;
	border: 2px solid pink;
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 0.5%;
	border-radius: 5px;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
}
h1.front {
	text-align: center;
	font-family: 'Leckerli One';
	font-size: 150px; 
	color: SlateBlue;
	margin-top: 3%;
	position: relative;
	animation-name: colorfade;
	animation-duration:8s;
	animation-iteration-count: infinite;
}
h2.banner{
	text-align: center;
	font-family: 'Leckerli One';
	font-size: 100px; 
	color: Pink;
	margin-bottom: 0%;
}
ol.instructions {
	font-family: 'Medula One';
	font-size: 30px;
	list-style-type: decimal;
	background-image: url("/resources/images/sakura2.png");
	opacity: 0.95;
	border: 2px solid pink;
	border-radius: 5px;
	margin-bottom: 2%;
	padding-left: 5%;
}
ul.ingredients {
	font-family: 'Medula One';
	font-size: 30px;
	list-style-type: square;
	background-image: url("/resources/images/sakura2.png");
	opacity: 0.95;
	border: 2px solid pink;
	border-radius: 5px;
	margin-bottom: 10px;
	padding-left: 8%;
}
h2.large {
	font-family: 'Medula One';
	font-size: 90px;
	width: 100%;
	color: Pink;
	text-align: center;
}
p.frontpage {
	font-family: 'Medula One';
	font-size: 50px;
	margin-bottom: 10px;
	text-align: center;
}
a.logo{
	text-decoration: none;
}
a.link, a.link:visited {
	font-family: 'Medula One';
	font-size: 50px;
	border-radius: 5px;
	margin-top: 10px;
    background-color: pink;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a.link:hover{
    background-color: SlateBlue;
}
div.generic{
	font-family: 'Medula One';
	font-size: 3em;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-left: 20%;
	margin-right: 20%;
	position: relative;
	text-align: center;
}
img.example {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid pink;
	border-radius: 10px;
	width: 70%;
	height: auto;
}
img.example:hover {
	opacity: 0.9;
}
img.imgcalendar{
	width: 90%;
	display: block;
	position: absolute;
	border: 1px solid pink;
	border-radius: 4px;
}
.center {
	position: relative;
	text-align: center;
}
.month {
	font-family: 'Medula One';
	font-size: 20px;
    padding:15px 0px;
    width: 100%;
    background: pink;
    text-align: center;
}
.month ul {
	font-family: 'Medula One';
    margin: 0;
    padding: 0;
}
div.calendar{
	margin: 0px 20%;
}
.month ul li {
	font-family: 'Medula One';
    color: White;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.weekdays {
	font-family: 'Medula One';
    margin: 0;
    padding: 10px 0;
    background-color: #f0f0f0;
}

.weekdays li {
	font-family: 'Medula One';
	font-size: 30px;
    display: inline-block;
    width: 13.3%;
    color: pink;
    text-align: center;
}

.days {
	font-family: 'Medula One';
    background: #f8f8f8;
    margin: 0;
}

.days li {
	font-family: 'Medula One';
    list-style-type: none;
    display: inline-block;
    width: 7.6vw;
	height: 7vw;
    text-align: left;
    margin-bottom: 1px;
    font-size: 32px;
    color: #777;
	border: 1px solid darkgray;
	position: relative;
}

.days li:hover{
	background: #fcfcfc;
}
li.recipes{
	font-family: 'Leckerli One';
	font-size: 80px; 
	color: Pink;
	margin-top: 1%;
	/*-webkit-text-stroke: 1.5px White;*/
	background-image: url("/resources/images/sakura2.png");
	opacity: 0.95;
	border: 2px solid pink;
	border-radius: 5px;
}

/* Add media queries for smaller screens */
@media screen and (max-width:850px) {
    .weekdays li, .days li {width: 12.7%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.0%;}
    .days li .active {padding: 1px;}
}

@media screen and (max-width: 310px) {
    .weekdays li, .days li {width: 11.5%;}
}
a.indexlink{
	color:inherit;
	/*-webkit-text-stroke: 3px pink;*/
	text-decoration: none;
}
a.recipelink{
	color:inherit;
	/*-webkit-text-stroke: 2px white;*/
	text-decoration: none;
}
.navbar {
	display: inline-block;
    overflow: hidden;
    background-color: white;
    font-family:'Medula One';
	margin-top: 1%;
	background-color: #f8f8f8;
	border: 2px solid pink;
	border-radius: 5px;
}

.navbar a {
    float: left;
    font-size: 40px;
    color: pink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
	font-family:'Medula One';
    font-size: 40px;    
    border: none;
    outline: none;
    color: pink;
    padding: 14px 16px;
    background-color: #f8f8f8;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #f0f0f0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
@media only screen and (max-width: 1024px){
	h1.front{
		font-size: 110px;
	}
	h2.banner{
		font-size: 70px;
	}
	ol.instructions{
		font-size: 20px;
	}
	ul.ingredients{
		font-size: 20px;
	}
	h2.large {
		font-size: 70px;
	}
	p.frontpage{
		font-size: 30px;
	}
	a.link{
		font-size: 30px;
		padding: 5px;
	}
	.days li {
		font-size: 25px;
	}
	.weekdays li {
		font-size: 30px;
	}
	li.recipes{
		font-size: 60px;
	}
	.month ul li {
		font-size: 40px;
	}
	.weekdays li {
		font-size: 20px;
	}
}
@media only screen and (max-width: 720px){
	h1.front{
		font-size: 70px;
	}
	h2.banner{
		font-size: 50px;
	}
	ol.instructions{
		font-size: 20px;
	}
	ul.ingredients{
		font-size: 20px;
	}
	h2.large {
		font-size: 50px;
	}
	p.frontpage{
		font-size: 25px;
	}
	a.link{
		font-size: 25px;
		padding: 5px;
	}
	.days li {
		font-size: 15px;
	}
	li.recipes{
		font-size: 40px;
	}
	.dropdown .dropbtn {
		padding: 2px 8px;
		font-size: 30px;
	}
	.navbar a {
		font-size: 30px;
		padding: 2px 8px;
	}
	.month ul li {
		font-size: 25px;
		padding: 0px 10px;
	}
}
@media only screen and (max-width: 450px){
	.days li{
		font-size: 10px;
	}
	h1.front{
		font-size: 45px;
	}
	h2.banner{
		font-size: 35px;
	}
	h2.large{
		font-size: 35px;
	}
}
@keyframes colorfade {
    0%  {color: SlateBlue;}
    14% {color: red;}
    28% {color: orange;}
    42% {color: yellow;}
	56% {color: green;}
	70% {color: blue;}
	84% {color: purple;}
	100%{color: SlateBlue;}
}

